:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --second-background-color: #f5f4fa;
  --hero-footer-color: #2f303a;
  --button-primary-focus: #188ce8;
  --icon-color: #afb1b8;
  --time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);
  font-size: 14px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* logo */

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

.accent-logo {
  color: var(--title-text-color);
}

.footer-logo {
  color: var(--primary-white-color);
}

/* site-nav */

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: var(--time-function);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  transition: var(--time-function);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.menu-link {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
  position: relative;
}

.menu-link.link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  transition: var(--time-function);
}

.contact-details {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-details .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: var(--time-function);
}

.mail-header:hover svg,
.mail-header:hover svg,
.mail-header:hover,
.mail-header:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  transition: var(--time-function);
}

.mail-link {
  margin-right: 50px;
}

.icon-mail {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: var(--time-function);
}

.icon-phone {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: var(--time-function);
}

.phone-header:hover svg,
.phone-header:focus svg,
.phone-header:hover,
.phone-header:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  transition: var(--time-function);
}

.mail-header {
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.phone-header {
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

/* hero */

.hero {
  background-color: var(--hero-footer-color);
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  margin: 0 auto;
  background: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 12px 32px;
  display: block;
  margin: 0 auto;
  transition: var(--time-function);
}

.button.primary:focus,
.button.primary:hover {
  background-color: var(--button-primary-focus);
  color: var(--primary-white-color);
  transition: var(--time-function);
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

/* advantage */

.advantage-section {
  padding-top: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.advantage-description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.list-advantage {
  display: flex;
  gap: 30px;
}

.advantage-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.plain-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}

/* work-examples */

.work-examples {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.list-work-examples {
  display: flex;
  gap: 30px;
}

.card-examples {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
}

.overlay-desktop {
  padding-left: 107px;
  padding-right: 107px;
}

.overlay-mobil {
  padding-left: 112px;
  padding-right: 112px;
}

.overlay-design {
  padding-left: 94px;
  padding-right: 94px;
}

/* our team */

.section-team {
  background-color: var(--second-background-color);
}

.card-team {
  flex-basis: calc((100% - 90px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.list-team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-profession-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.list-social-networks {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 0;
}

.social-networks-ltem {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  color: var(--primary-white-color);
  transition: var(--time-function);
}

.social-networks-ltem:hover svg,
.social-networks-ltem:focus svg,
.social-networks-ltem:hover,
.social-networks-ltem:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
  transition: var(--time-function);
}

.link-social-network {
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
  justify-content: center;
}

.icon-social {
  fill: var(--icon-color);
  transition: var(--time-function);
}

/* regular customers */

.regular-clients {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.regular-customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.icon-customer {
  fill: var(--icon-color);
  transition: var(--time-function);
}

.regular-client-list {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  background-color: var(--primary-white-color);
  transition: var(--time-function);
}

.regular-client-list:hover,
.regular-client-list:focus {
  border: 1px solid var(--accent-color);
  transition: var(--time-function);
}

.link-client {
  display: flex;
  width: inherit;
  height: inherit;
  justify-content: center;
  align-items: center;
}

.link-client:hover svg,
.link-client:focus svg,
.link-client:hover,
.link-client:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  transition: var(--time-function);
}

/* footer */

.footer {
  padding: 60px 0;
  background-color: var(--hero-footer-color);
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  width: 145px;
}

.address-footer {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail {
  margin-top: 10px;
}

.footer-tel {
  margin-top: 10px;
}

.text-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-social-networks {
  display: flex;
  gap: 10px;
}

.footer-social-networks-ltem {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: var(--time-function);
}

.footer-social-networks-ltem:hover,
.footer-social-networks-ltem:focus {
  background-color: var(--accent-color);
  transition: var(--time-function);
}

.footer-social-ltem {
  margin-top: 12px;
}

.icon-social-footer {
  fill: var(--primary-white-color);
  transition: var(--time-function);
}

.link-social-footer {
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
  justify-content: center;
}

.footer-container {
  display: flex;
  gap: 70px;
}

.footer-subscribe {
  margin-top: 12px;
}

.text-subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.form-subscribe-footer {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: var(--primary-white-color);
  padding-left: 16px;
}

.form-subscribe-footer::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-form {
  position: relative;
  display: flex;
  margin-top: 20px;
}

.footer-subscribe-telegram {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translate(0, -50%);
}

.modal-form-submit-subscribe {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding-left: 28px;
  padding-right: 68px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 16px;
  display: block;
  transition: var(--time-function);
}

.modal-form-submit-subscribe:focus,
.modal-form-submit-subscribe:hover {
  background-color: var(--button-primary-focus);
  color: var(--primary-white-color);
  transition: var(--time-function);
}

/* portfolio.html */

/* filter */

.projects-container {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.list-projects {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.projects-menu:not(:last-child) {
  margin-right: 8px;
}

.button-filter {
  background: var(--second-background-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
  border: 0;
  transition: var(--time-function);
}

.button-filter.current,
.button-filter:hover,
.button-filter:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: var(--time-function);
}

/* sample projects */

.sample-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.title-projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects-cart {
  flex-basis: calc((100% - 60px) / 3);
}

.projects-cart:hover,
.projects-cart:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: var(--time-function);
}

.project-popup {
  position: relative;
  display: block;
  overflow: hidden;
}

.link-sample-projects {
  display: block;
}

.sample-work-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  padding: 63px 24px;

  transform: translate(0, 100%);
  transition: transform var(--time-function);
}

.all-sites {
  color: var(--primary-text-color);
}

.link-sample-projects:hover .sample-work-popup,
.link-sample-projects:focus .sample-work-popup {
  transform: translate(0, 0);
}

.projects-title-sites {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: none;
  background-color: var(--primary-white-color);
}

/* modal window */

.dark-background {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--time-function), visibility var(--time-function);
}

.dark-background.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-button-icon {
  fill: #000000;
  transition: transform var(--time-function);
}

.modal-close-button:hover svg,
.modal-close-button:focus svg {
  fill: var(--accent-color);
  transition: transform var(--time-function);
}

/* modal form */

.form-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--time-function);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  fill: var(--title-text-color);
  transition: var(--time-function);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
  transition: var(--time-function);
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-wrapper {
  display: flex;
  position: relative;
  cursor: pointer;
}

.modal-form-check-desc {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: auto;
}

.modal-form-link {
  color: var(--accent-color);
}

.input-icon-check {
  transition: var(--time-function);
}

.modal-form-check:checked + .input-icon-check {
  background-image: url(/images/icon-check.svg);
  fill: var(--accent-color);
  transition: var(--time-function);
}

.modal-form-check:focus + .input-icon-check {
  fill: var(--accent-color);
}

.modal-form-submit {
  align-self: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 10px 52px;
  display: block;
  margin: auto;
  margin-top: 30px;
  transition: var(--time-function);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-form-submit:focus,
.modal-form-submit:hover {
  background-color: var(--button-primary-focus);
  color: var(--primary-white-color);
  transition: var(--time-function);
}
