.advantage-section {
  padding-top: 94px;
}

.advantage-description {
  @extend %align;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.list-advantage {
  display: flex;
  gap: 30px;
}

.advantage-title {
  color: var(--title-text-color);
  @include font();
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.plain-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}
