.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

.accent-logo {
  color: var(--title-text-color);
}

.page-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: var(--time-function);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  transition: var(--time-function);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.menu-link {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
  position: relative;
}

.menu-link.link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  transition: var(--time-function);
}

.contact-details {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-details .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: var(--time-function);
}

.mail-header:hover svg,
.mail-header:hover svg,
.mail-header:hover,
.mail-header:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  transition: var(--time-function);
}

.mail-link {
  margin-right: 50px;
}

.icon-mail {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: var(--time-function);
}

.icon-phone {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: var(--time-function);
}

.phone-header:hover svg,
.phone-header:focus svg,
.phone-header:hover,
.phone-header:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  transition: var(--time-function);
}

.mail-header {
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.phone-header {
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.dark-background {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--time-function), visibility var(--time-function);
}

.dark-background.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
