.work-examples__title {
  color: var(--title-text-color);
  @include font-h2();
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work-examples__list {
  display: flex;
  gap: 30px;
}

.example {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  @include font();
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
}

.example__desktop {
  padding-left: 107px;
  padding-right: 107px;
}

.example__mobil {
  padding-left: 112px;
  padding-right: 112px;
}

.example__design {
  padding-left: 94px;
  padding-right: 94px;
}
